In [19]:
import numpy as np
import pandas as pd
from requests import request
import os
from math import ceil

from datetime import datetime

from dotenv import load_dotenv
load_dotenv()

url = 'https://sandbox.iexapis.com/stable/stock/twtr/chart/1y/20190109?chartByDay=true&token=Tsk_d19a63cb677f46e3a663e48d3bcf38ed'

startdate = '20140711' # 10/14/2020 = wednesday

stock = 'ISBC'

In [25]:
# calculate the number of months to look back
#untested
months_lookback = ceil((datetime.now() - pd.to_datetime(startdate)).days / 31)+2

#calculate the number of years to lookback
#tested and works
years_lookback = ceil((datetime.now() - pd.to_datetime(startdate)).days / 31)

In [26]:

#which data source to load from
env = 'cloud'

if env=='sandbox':
    source = 'sandbox'
    tkn=os.getenv('iex_secret_sandbox')
elif env=='cloud':
    source='cloud'
    tkn=os.getenv('iex_secret')

url = f'https://{source}.iexapis.com/stable/stock/{stock}/chart/{months_lookback}m?chartCloseOnly=true&chartByDay=true&token={tkn}'

In [27]:
# load data from iexcloud.io
response = request(url=url, method='get')

# convert iexcloud.io to pandas dataframe
df = pd.read_json(response.content)

# save df to a pickle file
df.to_pickle(f'{stock}_prices_{startdate}.pickle')

# load the data from the saved pickle
#df = pd.read_pickle(f'{stock}_prices_{startdate}.pickle')

In [30]:
from datetime import datetime

In [36]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs) -> pandas.core.indexes.datetimes.DatetimeIndex
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : int, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    DatetimeIndex : An immutable container for datetimes.
    timedelta_range : Return a fixed frequency TimedeltaIndex.
    period_range : Return a fixed frequency PeriodIndex.
    interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [59]:
frequency = f'W-{pd.to_datetime(startdate, infer_datetime_format=True).day_name()[:3]}'

date_range = pd.date_range(start='2014-07-11',end='2020-12-18', freq=frequency)

In [60]:
dt = datetime.strftime(date_range[0],format='%Y%m%d')

In [61]:
dt

'20140711'

In [66]:
%%time
date_url = f'https://{source}.iexapis.com/stable/stock/{stock}/chart/date/{dt}?chartCloseOnly=true&chartByDay=true&token={tkn}'

Wall time: 0 ns

In [67]:
%%time
response = request(url=date_url, method='get')

Wall time: 273 ms

In [68]:
new_df = pd.read_json(response.content)

In [69]:
new_df

,date,close,volume,changeOverTime,marketChangeOverTime,label,change,changePercent
0,2014-07-11,10.86,2059400,0,0,"Jul 11, 14",0,0

In [56]:
%%time
for datum in date_range[1:]:
    dt = datetime.strftime(datum,format='%Y%m%d')
    date_url = f'https://{source}.iexapis.com/stable/stock/{stock}/chart/date/{dt}?chartCloseOnly=true&chartByDay=true&token={tkn}'
    print(f'Retrieving {date_url}')
    response = request(url=date_url, method='get')
    new_df = new_df.append(pd.read_json(response.content))

Retrieving https://cloud.iexapis.com/stable/stock/ISBC/chart/date/20140718?chartCloseOnly=true&chartByDay=true&token=sk_4ef95fbf49d6435190a7aa47d539e4ed
Retrieving https://cloud.iexapis.com/stable/stock/ISBC/chart/date/20140725?chartCloseOnly=true&chartByDay=true&token=sk_4ef95fbf49d6435190a7aa47d539e4ed
Retrieving https://cloud.iexapis.com/stable/stock/ISBC/chart/date/20140801?chartCloseOnly=true&chartByDay=true&token=sk_4ef95fbf49d6435190a7aa47d539e4ed
Retrieving https://cloud.iexapis.com/stable/stock/ISBC/chart/date/20140808?chartCloseOnly=true&chartByDay=true&token=sk_4ef95fbf49d6435190a7aa47d539e4ed

In [267]:
#set the date column to the index
df = df.set_index(pd.to_datetime(df.date), format='%Y%d%m')

# delete the date value column
df = df.drop(columns=['date'])

In [268]:
#filter for the correct period
df = df.loc[pd.to_datetime(startdate) + pd.offsets.Week(-1):]

In [269]:
# check data
df.loc['2020-05-12':][:5]

,close,volume,changeOverTime,marketChangeOverTime,label,change,changePercent
date,,,,,,,
2020-05-12,8.070,1526327,-0.305508,-0.305508,"May 12, 20",-0.450,-0.0528
2020-05-13,7.600,1561420,-0.345955,-0.345955,"May 13, 20",-0.470,-0.0582
2020-05-14,7.605,2269355,-0.345525,-0.345525,"May 14, 20",0.005,0.0007
2020-05-15,7.620,1961884,-0.344234,-0.344234,"May 15, 20",0.015,0.0020
2020-05-18,8.390,1522307,-0.277969,-0.277969,"May 18, 20",0.770,0.1010

In [272]:
startdate

'20200515'

In [291]:
pd.to_datetime(startdate, infer_datetime_format=True)

Timestamp('2020-05-15 00:00:00')

In [316]:
frequency = f'W-{pd.to_datetime(startdate, infer_datetime_format=True).day_name()[:3]}'

In [337]:
# we are looking for a weekly offset
offset = pd.offsets.Week(-1)

# resample for weekly series


res = df.close.loc[pd.to_datetime(startdate)+offset:].resample(frequency,loffset=offset, closed='left').first()

In [338]:
res = pd.DataFrame(res)

In [342]:
res['chg'] = np.log(res.close/res.close.shift(1))

In [343]:
res

             close       chg
date
2020-05-08   8.850       NaN
2020-05-15   7.620 -0.149641
2020-05-22   8.190  0.072138
2020-05-29   8.680  0.058108
2020-06-05   9.700  0.111104
2020-06-12   8.570 -0.123858
2020-06-19   8.205 -0.043524
2020-06-26   7.880 -0.040416
2020-07-03   8.190  0.038586
2020-07-10   8.100 -0.011050
2020-07-17   8.210  0.013489
2020-07-24   8.375  0.019898
2020-07-31   8.120 -0.030921
2020-08-07   8.240  0.014670
2020-08-14   8.295  0.006653
2020-08-21   7.650 -0.080947
2020-08-28   7.870  0.028352
2020-09-04   8.230  0.044728
2020-09-11   7.725 -0.063324
2020-09-18   7.780  0.007095
2020-09-25   7.000 -0.105646
2020-10-02   7.510  0.070325
2020-10-09   7.760  0.032747
2020-10-16   7.860  0.012804
2020-10-23   8.260  0.049638
2020-10-30   8.460  0.023925
2020-11-06   8.260 -0.023925
2020-11-13   9.170  0.104513
2020-11-20   9.580  0.043740
2020-11-27   9.940  0.036889
2020-12-04  10.420  0.047160
2020-12-11  10.260 -0.015474
2020-12-18  10.110 -0.014728
2020-12-25  10.470  0.034989
2021-01-01  10.560  0.008559
2021-01-08  11.430  0.079168

In [302]:
df.loc['2020-5-10':][:10]

,close,volume,changeOverTime,marketChangeOverTime,label,change,changePercent
date,,,,,,,
2020-05-11,8.520,2389206,-0.266781,-0.266781,"May 11, 20",-0.330,-0.0373
2020-05-12,8.070,1526327,-0.305508,-0.305508,"May 12, 20",-0.450,-0.0528
2020-05-13,7.600,1561420,-0.345955,-0.345955,"May 13, 20",-0.470,-0.0582
2020-05-14,7.605,2269355,-0.345525,-0.345525,"May 14, 20",0.005,0.0007
2020-05-15,7.620,1961884,-0.344234,-0.344234,"May 15, 20",0.015,0.0020
2020-05-18,8.390,1522307,-0.277969,-0.277969,"May 18, 20",0.770,0.1010
2020-05-19,7.970,1014856,-0.314114,-0.314114,"May 19, 20",-0.420,-0.0501
2020-05-20,8.360,1512344,-0.280551,-0.280551,"May 20, 20",0.390,0.0489
2020-05-21,8.290,841747,-0.286575,-0.286575,"May 21, 20",-0.070,-0.0084
2020-05-22,8.190,909403,-0.295181,-0.295181,"May 22, 20",-0.100,-0.0121

In [225]:
res.head()

date
2020-10-14    7.86
2020-10-21    7.87
2020-10-28    8.19
2020-11-04    8.47
2020-11-11    9.30
Freq: W-WED, Name: close, dtype: float64

In [163]:
res[]

Index(['Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday',
       'Friday', 'Friday', 'Friday',
       ...
       'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday',
       'Friday', 'Friday', 'Friday'],
      dtype='object', name='date', length=261)